.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 19px 29px 10px rgba(2, 7, 11, 0.25);
  width: 33%;
  height: 50%;
  background-color: rgba(13, 110, 86, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

select, input{
  padding: 5px;
  margin: 0 20px;
}

h1, h3{
  text-align: center;
}




